{
  "extends": "eslint-config-egg",
  "rules": {
    "space-before-function-paren": [
      "warning",
      {
        "anonymous": "nevel",
        "named": "always",
        "asyncArrow": "nevel"
      }
    ]
  }
}
